html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #00479e;
    color: white;
}

h1 {
    font-family: "Lato", serif;
    text-align: center;
    font-size: 7vh;
}

.h11 {
    animation: float 10s ease-in-out infinite;
}

.h12 {
    animation: float 10s ease-in-out infinite;
    animation-delay: 5s;
}

.h13 {
    animation: float 10s ease-in-out infinite;
}

p {
    font-family: "Lato", serif;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 10vh;
    font-size: 3.5vh;
    text-align: center;
    line-height: 1.5;
    text-shadow: .25vw .5vw 1vw rgb(0, 0, 0);

}

.ahr {
    margin: .2vw;
    margin-bottom: 0;
    padding-bottom: 0;
    border-width: .3vh;
    border-style: solid;
    border-radius: .1vh;
}

.footer {
    font-family: "Lato", serif;
    padding-top: 0;
    margin-top: 0;
    margin-left: 2vw;
    font-size: 2.5vh;
    text-align: left
}

.section {
    background: linear-gradient(to bottom,
            #00479e 0%,
            #1860a8 50%,
            /* An even more muted blue that's closer to the background color */
            #00479e 100%);
    padding-top: 5vh;
    padding-bottom: 5vh;
}

@keyframes float {
    0% {
        transform: translateY(0vh) translateX(0vh) rotate(0deg);
    }

    25% {
        transform: translateY(-.25vh) translateX(.25vh) rotate(.5deg);
    }

    50% {
        transform: translateY(0vh) translateX(0vh) rotate(0deg);
    }

    75% {
        transform: translateY(.25vh) translateX(-.25vh) rotate(-.5deg);
    }

    100% {
        transform: translateY(0vh) translateX(0vh) rotate(0deg);
    }
}