html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

nav {
    margin: 1vh;
    position: sticky;
    top: 0px;
    background-color: #FF7F22;
    border-radius: 1vh;
    z-index: 1000;
}

.linklist{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0;
    box-shadow: .5vh 1vh .5vh .5vh rgba(0, 0, 0, 0.2);
    border-radius: 1vw;
}

li {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

/* Font taken from google fonts */
.links {
    font-size: 5vh;
    font-family: "Lato", serif;
}

.links:hover {
    opacity: 70%;
}

.link1 {
    margin-left: 40vh;
}

.link3 {
    margin-right: 10vh;
}

.nospace {
    position: absolute;
}