html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.buttonContainer {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 50%;
} 

.c{
  display: flex;
  justify-content: center;
  margin-bottom: 20vh;
}

.lStyle {
  font-family: "Lato", serif;
  font-size: x-large;
}

.formHandle{
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.questions{
  margin-bottom: 10vh;
}

.buttons{
  border-radius: 2vh;
  background-color: lightcoral;
  border-color: white;
  border-style: solid;
  border-color: black;
  padding-right: .8vw;
  padding-left: .8vw;
  padding-top: .5vh;
  padding-bottom: .5vh;
}

.buttons:hover{
  opacity: 85%;
}

.qForm{
  margin-top: 10vh;
}

.questionTitle{
  font-family: "Lato", serif;
  font-size: 3.5vw;
  font-style: italic;
}

.ansSeparation{
  display: flex;
  justify-content: center;
  gap: 5vw;
}

p{
  font-family: "Lato", serif;
  margin-left: 5vw;
  margin-right: 5vw;
  margin-bottom: 5vh;
  font-size: 3.5vh;
  text-align: center;
  line-height: 1.5;

}
